{% extends "base.html" %}

{% block css %}
{{ block.super }}
<LINK rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/owl.carousel.css" />
<LINK rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/owl.theme.css" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></SCRIPT>
<SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/main_page.js"></SCRIPT>
{% endblock %}

{% block horizontal_menu_item_main %}{{ block.super }} selected-menu-item{% endblock %}

{% block content %}
  {% if weekly_product %}
    <DIV id="owl-demo" class="owl-carousel owl-theme">
      {% for good in weekly_product %}
        <A href="{% url "url_supply_good" good.pk good.category.pk %}">
          <DIV align="center" class="bordered-block clickable collection-item item">
            <IMG class="small-img" src="{{ MEDIA_URL}}{{ good.smallImage }}" /><BR/>
            {{ good.name }}
          </DIV>
        </A>
      {% endfor %}
    </DIV>
  {% endif %}
  {% for text in main_text %}
    <P>{{ text }}</P>
  {% endfor %}
{% endblock %}
