{% extends "base.html" %}

{% block scripts %}
  {{ block.super }}
  <SCRIPT type="text/javascript" src="{{ STATIC_URL }}js/supply_list.js"></SCRIPT>
{% endblock %}

{% block content %}
  {% if goods %}
    {% for good in goods %}
      <A href="{% url "url_supply_good" good.pk categoryId%}">
        <DIV align="center" class="bordered-block clicable collection-item">
          <IMG class="small-image" src="{{ MEDIA_URL }}{{ good.smallImage }}" /><BR/>
          {{ good.name }}
        </DIV>
      </A>
    {% endfor %}
  {% else %}
    <P>Простите, на данный момент товаров не осталось. <A href="">Закажите товары с новых поставок</A></P>
  {% endif %}
{% endblock %}
