{% load l10n %}
{% localize on %}
<!DOCTYPE html>
<HTML>
  <HEAD>
    <LINK rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Marck+Script|Courgette&amp;subset=latin,cyrillic">
    <LINK rel="stylesheet" type="text/css" href="cid:mail.css">
  </HEAD>
  <BODY>
    <DIV align="center">
      <IMG src="cid:{{ logo }}" />
      <H1>Мясо-яйца-молоко</H1>
    </DIV>
    {% for paragraph in messageText %}
      <P>{{ paragraph }}</P>
    {% endfor %}
    <TABLE id="content" cellspacing="0">
      <THEAD>
        <TR>
          <TH>№</TH>
          <TH>Название</TH>
          <TH>Цена</TH>
          <TH>Количество</TH>
          <TH>Сумма</TH>
        </TR>
      </THEAD>
      <TBODY>
        {% for item in items %}
          <TR>
            <TD>{{ item.id }}</TD>
            <TD>{{ item.object.modelGood.name|unlocalize }}</TD>
            <TD>{{ item.object.price }}</TD>
            <TD>{{ item.object.value }}</TD>
            <TD>{{ item.object.total }}</TD>
          </TR>
        {% endfor %}
        {% if deliveryPrice %}
          <TR><TD colspan="4">Доставка</TD><TD>{{ deliveryPrice }}</TD></TR>
        {% endif %}
        <TR><TD class="sum-text" colspan="4">Итого:</TD><TD class="sum-value">{{ sumPrice|unlocalize }}</TD></TR>
      </TBODY>
    </TABLE>
  </BODY>
</HTML>
{% endlocalize %}
