{% load l10n %}
{% localize on %}
<!DOCTYPE html>
<HTML>
  <HEAD>
    <STYLE>
TABLE {
  margin: auto;
  width: 80%;
}

IMG {
  height: 135px;
  width: 160px;
  margin: auto;
}

#content {
  border: 3px solid black;
}

#content TD, #content TH {
  border: 1px solid black;
  text-align: center;
}

.column-right {
  text-align: right;
}

.sum-text {
  border-width: 1px 0px 1px 1px;
  text-align: left;
  padding: 3px;
}

.sum-value {
  text-align: right !important;
}
    </STYLE>
  </HEAD>
  <BODY>
    <DIV align="center">
      <IMG src="data:image/png;base64,{{ logo }}" />
      <H1>Мясо-яйца-молоко</H1>
    </DIV>
    {% for paragraph in messageText %}
      <P>{{ paragraph }}</P>
    {% endfor %}
    <TABLE id="content" cellspacing="0">
      <THEAD>
        <TR>
          <TH>№</TH>
          <TH>Название</TH>
          <TH>Цена</TH>
          <TH>Количество</TH>
          <TH>Сумма</TH>
        </TR>
      </THEAD>
      <TBODY>
        {% for item in items %}
          <TR>
            <TD>{{ item.id }}</TD>
            <TD>{{ item.object.modelGood.name|unlocalize }}</TD>
            <TD>{{ item.object.price }}</TD>
            <TD>{{ item.object.value }}</TD>
            <TD>{{ item.object.total }}</TD>
          </TR>
        {% endfor %}
        {% if deliveryPrice %}
          <TR><TD colspan="4">Доставка</TD><TD>{{ deliveryPrice }}</TD></TR>
        {% endif %}
        <TR><TD class="sum-text" colspan="4">Итого:</TD><TD class="sum-value">{{ sumPrice|unlocalize }}</TD></TR>
      </TBODY>
    </TABLE>
  </BODY>
</HTML>
{% endlocalize %}
